


<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


  <div class="field">
    <%= f.text_area :content, placeholder: "Flow block title..." %>


<h1 class="modal-title" id='msg' align='center' class='text-center'></h1>
<div id = "myAlert" class = "page-header">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Nice work - you're done!</strong>
</div>  

<div class="container content">

<div class="btn-group" role="group" >
    <button id='start' class='btn btn-primary center-block'>Start
	    </button>
    <button id='pause' class='btn btn-primary center-block pause'>Pause
      	</button>
    <button id='reset' class='btn btn-primary center-block'>Reset
    	</button>

	  </div>


      <label for='work'>Flow timer (min): </label>
      <input size="3" id='work' min=0 max=200 value='25'>

</div>
</div>


  <%= f.submit "Post", class: "btn btn-large btn-primary pull-right" %>
<% end %>


<!-- INTEGRATE THE FLOW BLOCK TIMER HERE   -->


<!-- 
<h1 class="modal-title" id='msg' align='center' class='text-center'></h1>


<div id = "myAlert" class = "page-header">
   <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   <strong>Nice work - you're done!</strong>
</div>
     </div>

  </div>
</div>
</div>


<div class="container content">

<div class="panel panel-default">


      <div class="btn-group" role="group" >
        <button id='start' class='btn btn-primary center-block'>Start
        <span class="glyphicon glyphicon-record">
        </button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause

      </button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>



	    </div>
      <label for='work'>Flow timer (min): </label>
      <input autofocus id='work' type='text' min=0 max=200 value='25' >




 -->